@import './Grid/Grid.scss';
@import './Line/Line.scss';
@import './Square/Square.scss';
@import "@material/elevation/mixins";
@import "@material/elevation/mdc-elevation";
@import "@material/ripple/mixins";

.round-btn{
    width: 40px;
    height: 40px;
    margin: 15px;
    cursor: pointer;
    padding: 10px;  
    border-radius: 50%;
    @include mdc-ripple-surface;
    overflow: hidden;
}
.color-container{
    display: none;
}
.color-container-open{
    display: block;
}
